@charset "utf-8";
#waitNotice{background-color:#FFF;border:1px solid #999;left:50%;position:fixed;text-align:center;top:50%;width:250px;margin:0 -125px;padding:10px;}
body{font:75%/1.5em Arial,Helvetica,"DejaVu Sans","Liberation sans","Bitstream Vera Sans",sans-serif !important;color:#666;background:url("../images/pagebg.gif") repeat-x scroll top center #d7cece;white-space:normal;}
a{color:#36c;text-decoration:none;}
#header{height:35px;}
#header ul{font-size:0.9em;text-align:right;margin:5px 0;padding:0;}
#header li{display:inline-block;color:#fff;border-left:1px solid #666;padding-left:1em;margin-left:1em;}
.LOGO_EOL{background:url("../images/eol-logo.gif") no-repeat scroll 0 0 transparent;height:36px;margin:1em auto -1em;}
.LOGO_LEXISJP{background:url("../images/logo.gif") no-repeat scroll 0 0 transparent;height:36px;margin:1em auto -1em;}
#logo{}

h1.admin{width:960px;font-family:optima,"avant garde","century gothic", serif;font-size:2.2em;font-weight:400;overflow:hidden;margin:0 auto;padding:.8em 0 .8em 1em;}
#content,#singlePageContent{border:1px solid #999;background-color:#fff;border-bottom:1px dotted #999;-moz-box-shadow:0 0 7px #bbb;-webkit-box-shadow:0 0 7px #bbb;}
#content{float:left;padding:2.5em 0 1em;}
#singlePageContent{padding:0 0 1em;}
#leftCol .category{padding:0 0.5em 1.5em 2.5em;}
#rightCol .category{padding:0 2.5em 1.5em 0.5em;}
h2.categoryTitle,h2.categoryTitleClosed{font-size:1.2em;font-weight:700;margin-bottom:0;cursor:pointer;padding:4px 7px;}
h2.categoryTitle{background:url("../images/acc-minus-icon.gif") no-repeat scroll 412px 4px #F6F6F6;}
h2.categoryTitleClosed{background:url("../images/acc-plus-icon.gif") no-repeat scroll 412px 4px #F6F6F6;}
#type1 h2.categoryTitle,#type1 h2.categoryTitleClosed{color:#c36;border-left:3px solid #c36;}
#type2 h2.categoryTitle,#type2 h2.categoryTitleClosed{color:#2501ac;border-left:3px solid #2501ac;}
#type3 h2.categoryTitle,#type3 h2.categoryTitleClosed{color:#2980ca;border-left:3px solid #2980ca;}
#type4 h2.categoryTitle,#type4 h2.categoryTitleClosed{color:#4ec4fa;border-left:3px solid #4ec4fa;}
#type5 h2.categoryTitle,#type5 h2.categoryTitleClosed{color:#351d52;border-left:3px solid #351d52;}
#type6 h2.categoryTitle,#type6 h2.categoryTitleClosed{color:#968aa4;border-left:3px solid #968aa4;}
#type7 h2.categoryTitle,#type7 h2.categoryTitleClosed{color:#960;border-left:3px solid #960;}
#type8 h2.categoryTitle,#type8 h2.categoryTitleClosed{color:#C96;border-left:3px solid #C96;}
#type9 h2.categoryTitle,#type9 h2.categoryTitleClosed{color:#C30;border-left:3px solid #C30;}
#type10 h2.categoryTitle,#type10 h2.categoryTitleClosed{color:#933;border-left:3px solid #933;}
.newsItem{margin-bottom:2em;}
.category h3{font-size:1.3em;}
h3.primaryNews{font-weight:400;padding-left:10px;margin:1.25em 0 0.5em;}
.sourceDate{color:#999;padding-left:10px;}
p.sourceDate{margin-bottom:0.5em;}
.firstLine{margin-bottom:0.75em;margin-left:0.75em;}
.relatedLinks li{background:url("../images/bullet-relatedLinks.png") no-repeat scroll 10px 3px transparent;padding-left:25px;position:relative;margin:0.5em 0;}
.placeholder{color:#ccc;}
#searchFieldGrid input{width:100%;height:27px;padding:0 0.25em;}
#alertData{float:left !important;padding:0 3.5em;}
#alertData p{line-height:2em;}
#alertTitle h2{background-color:#f5f3f3;font-size:1.25em;color:#333 !important;font-weight:400;padding:0.5em;width:100%!important}
#alertTitle h2.type1{border-left:4px solid #c36;}
#alertTitle h2.type2{border-left:4px solid #2501ac;}
#alertTitle h2.type3{border-left:4px solid #2980ca;}
#alertTitle h2.type4{border-left:4px solid #4ec4fa;}
#alertTitle h2.type5{border-left:4px solid #351d52;}
#alertTitle h2.type6{border-left:4px solid #968aa4;}
#alertTitle h2.type7{border-left:4px solid #960;}
#alertTitle h2.type8{border-left:4px solid #C96;}
#alertTitle h2.type9{border-left:4px solid #C30;}
#alertTitle h2.type10{border-left:4px solid #933;}
.sourceDate span{color:#fff;float:left;margin:0 1em 0 0;padding:0.5em;}
.sourceDate span.type1{background-color:#c36;}
.sourceDate span.type2{background-color:#2501ac;}
.sourceDate span.type3{background-color:#2980ca;}
.sourceDate span.type4{background-color:#4ec4fa;}
.sourceDate span.type5{background-color:#351d52;}
.sourceDate span.type6{background-color:#968aa4;}
.sourceDate span.type7{background-color:#960;}
.sourceDate span.type8{background-color:#C96;}
.sourceDate span.type9{background-color:#C30;}
.sourceDate span.type10{background-color:#933;}
#sourceDate{color:#999;margin:0 0 1em 3.5em;}
#relatedLinks{border-left:1px dotted #ccc;position:absolute;width:195px;margin:0 0 1em;padding:0 2.5em 1em 1em;}
#relatedLinks li{background:url("../images/bullet-relatedLinks.png") no-repeat scroll 0 3px transparent;padding-left:15px;margin:0.5em 0;}
#pageTabs li{border-left:1px solid #999;border-right:1px solid #999;border-top:1px solid #999;display:inline-block;position:relative;margin:0 0 0 2px;}
.ui-state-default{background:url("../images/tabbg.gif") repeat-x scroll bottom left #fff;-moz-box-shadow:0 0 7px #bbb;-webkit-box-shadow:0 0 7px #bbb;}
.ui-tabs-selected{border-bottom:1px solid #fff;background:url("../images/tabtopbg.png") repeat-x scroll top left #fff;-moz-box-shadow:none;-webkit-box-shadow:none;}
.ui-state-default a{color:#333;font-weight:700;display:inline-block;padding:8px 20px;}
.ui-tabs-selected a{color:#cd0036;padding:12px 20px 8px;}
.footerDiv{background-color:#FFF;background-image:url("../images/logosmall.gif");background-position:15px 13px;background-repeat:no-repeat;color:#333;font-size:0.85em;border-color:#999;border-style:solid;border-width:1px;margin:0;padding:0;border-top:none;}
.footerDiv li{list-style-image:none;list-style-type:none;}
.footerDiv .copy{height:37px;display:block;border-left:#CCC dotted 1px;margin:0 0 0 160px;padding:10px 5px 3px;}
.copy li{white-space:nowrap;}
.footerDiv a{font-family:Arial, Verdana, Geneva, sans-serif;color:#36c;}
.footerDiv .bd,.footerDiv .ft{padding-bottom:10px !important;padding-top:10px !important;}
.footerNav li{float:left;width:auto;text-align:center;margin:0;padding:2px 10px;}
.footerNav .border-left{border-left:#CCC solid 1px;}
#searchFieldGrid{padding:0 0 0 2.5em;}
#searchBtnGrid{padding:0 2.5em 0 0;}
#searchBtnGrid .searchBtn{background:url(../images/ln_buttonbg.gif) no-repeat top right #fff;color:#fff;text-align:left;border:none;height:23px;margin:0;padding:1px 100px 5px 5px;}
#searchBtnGrid .searchBtnWrapper{border:1px solid #957179;height:23px;float:left;padding:1px;}
#filter{text-align:right;background:url(../images/downarrow.gif) no-repeat 463px center transparent;font-weight:700;font-size:0.95em;margin:0 0 1em;padding:0 1.5em;}
#pager{text-align:right;font-weight:700;font-size:1em;float:right;margin:0;padding:0 2em;}
#pager ul{float:left;margin:0 0 0.5em 1.5em;padding:0;}
#pager li{display:inline;font-weight:700;float:left;padding:0.25em;}
#pager li.current-page{color:#cd0036;font-weight:700;}
#pager .count{font-weight:700;float:right;margin:0.2em 0 0 1em;}
#pager li.first-page{background:url(../images/arrowdoubleleft.gif) no-repeat center center transparent;float:left;height:10px;width:10px;}
#pager li.last-page{background:url(../images/arrowdoubleright.gif) no-repeat center center transparent;float:right;height:10px;width:10px;}
#filter .removeFilterDialog{border-left:1px solid #ccc;margin-left:1em;padding-left:1em;}
#inboxDragWrapper{overflow:hidden;width:894px;}
#inboxTableWrapper{overflow-y:scroll;overflow-x:none;border:1px solid #ccc;margin:0 0 1em;}
#inboxTableHead{border:1px solid #ccc;border-bottom:none;table-layout:fixed;margin:0;}
#inboxTableHead th{background-color:#f5f5f5;padding:0;}
#alertDeleteHead{background:url(../images/bin.gif) no-repeat 4px center transparent;}
#inboxTableBody{table-layout:fixed;}
#inboxTableBody td{border:none;cursor:pointer;padding:2px 0;}
#inboxTableBody .firstRow{border-top:none;padding-top:0;}
#inboxTableBody td.firstRow{padding-top:5px !important;}
#inboxTableBody .lastRow{border-bottom:none;}
#inboxTableBody td.lastRow{padding-bottom:5px !important;}
#inboxTableHead th,#inboxTableBody td{padding:3px 5px !important;}
.rowHover{background-color:#F5F5DC;}
.rowClick{background-color:#e3effa;}
.unfocused{background-color:#f5f3f3 !important;}

.alertUnread{background:url(../images/unread.gif) no-repeat center 5px transparent;height:18px;}
.alertRead{background:url(../images/read.gif) no-repeat center 0 transparent;height:18px;}
.alertReadImportant{background:url(../images/important.gif) no-repeat center 0;height:18px;}
.alertUnreadImportant{background:url(../images/unread_important.gif) no-repeat center -2px transparent;height:18px;}
.alertDelete{background:url(../images/delete.gif) no-repeat center center transparent;height:18px;}

#inboxTableBody div.type1{color:#fff;background-color:#c36;float:left;padding:5px;}
#inboxTableBody div.type2{color:#fff;background-color:#2501ac;float:left;padding:5px;}
#inboxTableBody div.type3{color:#fff;background-color:#2980ca;float:left;padding:5px;}
#inboxTableBody div.type4{color:#fff;background-color:#4ec4fa;float:left;padding:5px;}
#inboxTableBody div.type5{color:#fff;background-color:#351d52;float:left;padding:5px;}
#inboxTableBody div.type6{color:#fff;background-color:#968aa4;float:left;padding:5px;}
#inboxTableBody div.type7{color:#fff;background-color:#960;float:left;padding:5px;}
#inboxTableBody div.type8{color:#fff;background-color:#C96;float:left;padding:5px;}
#inboxTableBody div.type9{color:#fff;background-color:#C30;float:left;padding:5px;}
#inboxTableBody div.type10{color:#fff;background-color:#933;float:left;padding:5px;}
.businessAction,.businessActionHide{padding-left:1em;text-align:left;margin:1em 0 0 2.5em;}
.businessAction{background:url("../images/plus.gif") no-repeat scroll left 2px transparent;}
.businessActionHide{background:url("../images/minus.gif") no-repeat scroll left 2px transparent;}
.viewSinglePage,.viewAlertsPage{display:none;float:right;padding-right:1.5em;height:13px;margin:1em 2em 0 0;}
.viewAlertsPage{background:url("../images/listview.gif") no-repeat scroll right 0 transparent;}
.viewSinglePage{background:url("../images/icofullview.gif") no-repeat scroll right 0 transparent;}
#breadcrumb{float:left;margin:1em 0;}
#breadcrumb li{display:inline;background:url("../images/breadcrumb.gif") no-repeat scroll center right transparent;float:left;margin:0 0.5em 0 0;padding:0 1em 0 0;}
#alertBlock{width:99%;}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;background:url("../images/dragbar.png") no-repeat scroll center 1px transparent;}
.ui-resizable-s{cursor:s-resize;height:5px;width:892px;bottom:4px;left:0;background-color:#eee;border:1px solid #ccc;border-top:none;z-index:1;float:left;}
#fancybox-outer{border:1px solid #999;}
.dialogHeader{color:#6f0621;border-bottom:1px dotted #ccc;clear:both;background-color:#f4f2f2;height:12px;padding:1em;}
.dialogBody{clear:both;overflow-x:hidden;overflow-y:auto;max-height:350px;background-color:#fff !important;padding:1em;}
.dialogFooter{color:#6f0621;border-top:1px dotted #ccc;clear:both;background-color:#f4f2f2;float:left;padding:1em;}
#filterDialog label,.businessActionGridLeft label,.businessActionGridRight label{display:inline;}
.dialogFooterRightCol{text-align:right;float:right;}
.noButton div,.cancelButton div,.previousPageButton div{background:url("../images/secondary_buttonbg.gif") repeat-x scroll center center transparent;}
.button{border:1px solid #666;}
.button div{border:1px solid #fff;cursor:pointer;color:#fff;font-weight:700;margin:0 auto;padding:6px;}
#filterDialog .resetButton{cursor:pointer;font-weight:700;color:#36c;margin:0 auto;padding:0.5em 0;}
.resetDefaultLink{cursor:pointer;font-weight:700;color:#36c;margin:0 auto;}
#deleteDialog .yesButton,#filterDialog .searchButton,#filterDialog .searchButtonDisabled{float:right;margin:0 1em 0 0;}
#filterDialog .leftCol{border-right:1px dotted #ccc;margin-right:9px;}
#filterDialog .rightCol label{margin-right:0.5em;position:relative;top:-2px;}
#filterDialog .multipleAction{float:left;margin-bottom:1em;}
#filterDialog fieldset{padding:0.75em 0 0;}
#filterDialog legend{padding:0 0 0.25em;}
#logOut .yesButton{float:right;margin-right:2px;}
.dialogBody .cpass p label{width:150px;float:left;}
.dialogBody .cpass p input{width:200px;float:left;height:20px;}
.dateDropdown{margin:0 0.5em 0 0;}
.dateIsRange{display:inline;margin-left:0.5em;}
input.yearField{width:32px;}
input.dateField{width:30px;}
.ui-datepicker{border:1px solid #ccc;background-color:#f9f9f9;}
.ui-state-highlight{background-color:#fff !important;background-image:none !important;border:2px solid #c03 !important;}
.ui-datepicker-calendar .ui-state-default{border:1px solid #ccc;background:url("../images/tabbg.gif") repeat-x scroll left 0 #fff;}
.ui-datepicker-prev{background:url("../images/calendar_previous.gif") no-repeat scroll left 5px transparent;cursor:pointer;text-align:right;padding:0 0 0 0;}
.ui-datepicker-next{background:url("../images/calendar_next.gif") no-repeat scroll right 5px transparent;text-align:right;cursor:pointer;padding:0 3em 0 0;}
.businessActionPanel{border:1px solid #CCC;float:left;margin:0 2.5em 1em;padding:1em;}
.businessActionGridLeft{display:none;margin:1em 0 0 2.5em;}
.businessActionGridRight{border-left:1px dotted #CCC;display:none;margin:1em 2em 0 0;padding:0 0 0 1em;}
.businessActionGridRight .radioGroup{display:inline;margin-right:2em;float:left;}
.businessActionGridRight .businessActionLabel label{margin:0 2em 0 0;}
.businessActionGridRight .multipleAction{float:left;margin-bottom:1em;clear:left;margin-left:140px;}
.businessActionGridLeft ul{list-style-type:square;}
.businessActionGridLeft li{margin-top:1em;}
.checkbox,.radio{width:19px;height:25px;background:url(../images/checkbox.png) no-repeat;display:inline;clear:left;float:left;padding:0;}
.radio{background:url(../images/radio.png) no-repeat;}
.select{position:absolute;width:158px;height:21px;color:#fff;font:12px/21px arial,sans-serif;background:url(../images/select.gif) no-repeat;overflow:hidden;padding:0 24px 0 8px;}
#alertIframe{margin-left:2.5em;width:680px;}
a:hover,#pager li a{text-decoration:underline;}
ul.relatedLinks,#relatedLinks ul{list-style:none;margin:0;}
#inbox,#breadcrumb,#alertTitle{padding:0 2.5em;}
#relatedLinks p{padding-left:14px;}
.hideLinks p{background:url("../images/showlinks.gif") no-repeat scroll -2px -1px transparent;cursor:pointer;height:15px;}
.showLinks p{background:url("../images/hidelinks.gif") no-repeat scroll -2px -1px transparent;cursor:pointer;height:15px;}
.footerNav,#inboxTableBody,#inboxTableBody p,.dialogHeader h4{margin:0;}
.dialogHeader a{float:right;margin-right:2em;}
.ui-resizable,input.dateSelect{position:relative;}
#filterDialog .leftCol label,.businessActionGridRight label,#filterDialog .rightCol .multipleAction label{position:relative;top:-2px;float:left;margin:3px 0 0 0.5em;}
body.authentication{background-color:#fff;background-image:none;}
#logo h1{width:170px;height:35px;}
.authentication div.wrapper{background:#d7cece url(../images/pgbg-authentication.png) repeat-x center top;min-height:500px;}
.authentication .signin-box{float:none;width:490px;background:#fff;border:1px solid #999;-moz-box-shadow:0 0 7px #BBB;-webkit-box-shadow:0 0 7px #BBB;margin:40px auto 20px;}
.signin-box .inner,.signout-box .inner{padding:2em;}
.authentication h2{color:#6c2121;font-weight:400;}
.authentication input.text{border:1px solid #369;width:240px;margin:0;}
.signin-box .message{margin:1px;padding:.6em 2em;}
.signin-box .message p{line-height:1.5;margin:.4em 0;}
.signin-box .error{background:#f1e0e0;}
.signin-box .notice{background:#eff6ec;}
.authentication .signin-box ul li{list-style-type:none;width:100%;float:left;margin:0 0 .73em;}
.authentication .signin-box ul li .indent{padding-left:140px;}
input.left{margin-right:10px;}
#logOut{position:relative;margin:1em auto;}
#logOut .buttons{margin:1em 0 1.5em;}
.idLabel{float:left;margin-right:1em;position:relative;top:5px;}
.tip{font-size:90%;color:#666;margin-left:140px;line-height:1.3;margin-top:.75em;}
#breadcrumb ul,.authentication .signin-box ul{margin:0;padding:0;}
#filterDialog input,.businessActionGridLeft input,.businessActionGridRight input,.authentication input{height:auto;}
.businessActionGridRight input{margin-right:0.5em;float:left;}
.authentication .footerDiv,.authentication #fancybox-outer,.no-border{border:none;}
#singlePageView{margin:1.5em 0 0;}
h2.prefsHeader{margin:0 1.6em 1em;}
.prefsBox{border:1px solid #ccc;float:left;background-color:#f7f6f6;-moz-box-shadow:1px 2px 7px #bbb;-webkit-box-shadow:1px 2px 7px #bbb;margin:0 2.5em 1.25em;}
.inboxShadow{-moz-box-shadow:-13px 18px 11px grey inset;-webkit-box-shadow:-13px 19px 11px grey inset;width:894px;}
.dialogAdjust{border:none !important;width:898px;margin:0;}
.leftPrefsBoxCol,.rightPrefsBoxCol{width:425px;margin:1em;}
.leftPrefsBoxColFooter,.rightPrefsBoxColFooter{width:437px;}
.leftPrefsBoxColFooter{margin-top:1.25em;}
.onePrefsBoxCol{width:850px;margin:2em;}
#groupManagement .leftPrefsBoxCol{width:350px;}
#groupManagement .rightPrefsBoxCol{width:500px;}
#alertManagement .leftPrefsBoxCol{width:720px;}
#alertManagement .rightPrefsBoxCol{width:130px;}
.prefsBoxHeader{border-bottom:1px dotted #ccc;background-color:#fff;padding:1em;}
.prefsBoxHeader h3{margin-bottom:0;}
.prefsBox dt{float:left;clear:left;width:120px;font-weight:400;padding:0 1em 10px 0;}
.prefsBox dd{float:left;font-weight:700;}
.prefsBox .allGroupsChk{margin-left:0.6em;display:none;}
.prefsBox input{float:left;margin:0 0.5em 0 0;}
.prefsBox .labelLeft select{margin-left:1em;position:relative;top:-7px;}
.prefsBox .prefsBoxFooter,.prefsBox .prefsBoxFooterResetDefault{color:#6f0621;float:right;clear:left;padding:0 1em 1em;}
.prefsBox .editButton div,.prefsBox .resetDefaultButton div{background:url("../images/buttonbg.gif") repeat-x scroll center center transparent;padding-left:1em;padding-right:1em;}
.prefsBox .applyButtonDisabled,.prefsBox .applyButton,.prefsBox .resetDefaultButton{margin-right:1em;}
.editButton div a:hover,.resetDefaultButton div a:hover{text-decoration:none;}
.groupManagementList,.businessActionList,.businessActionVals{border:1px solid #CCC;clear:both;max-height:140px;overflow:auto;background-color:#fff;padding:0.5em;}
.businessActionList{max-height:none;height:140px;}
.businessActionVals{max-height:none;height:110px;}
.radioGroupLeft,.radioGroupRight{float:left;margin-right:3.5em;}
#businessActionVals{border:1px solid #ccc;background-color:#fff;height:86px;padding:1em;}
#prefPageTabs li{display:inline-block;float:right;}
#prefPageTabs .ui-state-default{background:url("../images/arrowaltnav.gif") no-repeat scroll left center transparent;-moz-box-shadow:none;-webkit-box-shadow:none;}
.groupManagementList ul,.businessActionList ul,.businessActionVals ul{list-style:none;margin:0;padding:0;}
.businessActionList li,.businessActionVals li{clear:both;color:#666;float:left;width:100%;cursor:pointer;padding:0.25em 0;}
.businessActionVals li{padding:0 0 0.5em;}
.businessActionList input,.businessActionVals input{width:250px;height:2em;}
.key{float:right;position:relative;}
.key h3{font-weight:700;padding-right:7px;}
.key #keyPointer{position:absolute;list-style-type:none;width:15px;height:9px;background:transparent url('../images/key-pointer.gif') no-repeat 0 0;top:5.6em;left:17.7em;}
ul#key{display:none;border:1px solid #36c;list-style-type:square;list-style-position:inside;background:#fff;position:absolute;top:-7em;left:-19.2em;width:19em;padding:10px;}
ul#key li{padding:2px 0;}
.topic-tree{clear:both;position:relative;z-index:0;margin:1em 0 0;}
.topic-tree ul.nav{float:left;list-style-type:none;z-index:100;position:relative;margin:0 -1px 0 0;}
.topic-tree ul.nav li{width:180px;border-top:1px dotted #ccc;border-bottom:1px solid #fff;z-index:100;background:#fff;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;padding:0 0 0 1px;}
.topic-tree ul.nav li.first{border-top:1px solid #fff;}
.topic-tree ul.nav li.ui-tabs-selected{border-left:1px solid #CCC;border-right:1px solid #FFF;border-top:1px solid #CCC;padding:0;}
.topic-tree ul.nav li.ui-tabs-selected a{color:#900;}
.topic-tree ul.nav li a{display:block;font-weight:400;padding:.5em 1em;}
.topic-tree .panel{clear:none;background:#fff;height:30em;overflow-y:auto;overflow-x:auto;z-index:50;position:relative;border:1px solid #ccc;}
.topic-tree #treeBusy{position:absolute;top:0;left:0;height:15em;width:100%;opacity:.7;background:#ccc;z-index:9000;}
.topic-tree #treeBusy h2{font-size:2em;width:100%;text-align:center;line-height:6em;}
.topic-tree .panel .tree-tab{padding:.8em;}
.tree-tab ul{list-style-type:none;float:left;clear:left;position:relative;margin:0 0 0 10px;padding:0;}
.tree-tab ul ul{display:none;margin:-3px 0 0 20px;}
.tree-tab li{float:left;clear:left;position:relative;line-height:1.3em;background:#fff url('../images/tree-li.gif') repeat-y 5px 0;margin:-2px 0 3px;padding:5px 0 0;}
.tree-tab ul ul li{margin:1px 0 0;}
.tree-tab li.first{margin:8px 0 3px;padding:0;}
.tree-tab li.first > span{top:0;}
.tree-tab li.first > label{margin-top:-3px;margin-bottom:0;margin-left:-13px;}
.tree-tab li.last{background-repeat:no-repeat;}
.tree-tab li span{float:left;width:10px;height:10px;text-indent:-9999em;cursor:pointer;background:transparent url('../images/tree-toggle.gif') no-repeat 0 0;position:absolute;left:0;top:8px;}
.tree-tab li span.open{background-position:0 -10px;}
.tree-tab select{position:absolute;left:-9999em;}
.tree-tab label{height:1.3em;line-height:1.3em;padding:0 0 0 30px;}
#topicTree input{position:relative;left:-9000px;}
.showAllGroups{margin:0.5em 0 0;}
label.semi{background:url("../images/partial.gif") no-repeat scroll 19px center transparent;padding-left:2.75em;margin-left:-13px;}
label.unchecked{background:url("../images/blank.gif") no-repeat scroll 19px center transparent;padding-left:2.75em;margin-left:-13px;}
label.checked{background:url("../images/checked.gif") no-repeat scroll 19px center transparent;padding-left:2.75em;margin-left:-13px;}
label.checkedDisabled{background:url("../images/checked_disabled.gif") no-repeat scroll 19px center transparent;padding-left:2.75em;margin-left:-13px;}
alertIframe{float:left !important;z-index:1000;}
-webkit-scrollbar{width:13px;}
.idInput{width:418px;}
#jsOff,.ui-tabs .ui-tabs-hide,.first-page span,.last-page span,#filter .editFilterDialog,#filter .removeFilterDialog,#inboxTableBody td > div > span,#inboxTableBody td > a > div > span,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle,.showLinks ul,.hidden,.dialogAdjust .editButton,.hiddenGroupProfile,ui-datepicker-prev span,.ui-datepicker-next span,.hiddenNode{display:none;}/*.ui-datepicker-prev span,.ui-datepicker-next span*/
#jsOn,#dateisrange,.dialogAdjust .cancelButton,.previousPageButton,.dialogAdjust .applyButtonDisabled{display:block;}
#header li a,.editButton div a,.resetDefaultButton div a{color:#fff;}
#pageTabs,#prefPageTabs{bottom:1px;float:right;list-style:none outside none;position:inherit;z-index:2;margin:0 -2px -1px 0;}
.searchButtonDisabled div,.prefsBox .applyButtonDisabled div{background:url("../images/disabled_buttonbg.gif") repeat-x scroll center center transparent;}
#deleteDialog .noButton,#filterDialog .cancelButton,.previousPageButton,#logOut .cancelButton,.prefsBox .button,.businessActionList .actionDelete,.businessActionVals .valueDelete,.businessActionList .actionAdd,.businessActionVals .valueAdd{float:right;}
.dialogBody .cpass p,.signin-box #cpass p{width:100%;float:left;line-height:20px;margin:0;padding:0;}
.dialogBody .cpass,.signin-box .cpass{width:370px;}
.businessActionGridRight .businessActionLabel,label.left{width:140px;float:left;}
.multipleAction > div,.businessActionList .actionTitle,.businessActionVals .valueTitle{float:left;clear:both;}
#header li span,#pager .ellipsis,.dateFrom,.dateTo,.date,#relatedLinks p,.rangeConnector{font-weight:700;}
#deleteDialog .yesButton div,#logOut .yesButton div,#filterDialog .searchButton div,.prefsBox .applyButton div{background:url("../images/buttonbg.gif") repeat-x scroll center center transparent;}
.businessActionGridRight .actionList,.dialogHeader h4,.floatLeft,.leftPrefsBoxCol,.rightPrefsBoxCol,.leftPrefsBoxColFooter,.rightPrefsBoxColFooter,.prefsBox .labelLeft span{float:left;}
ul#key li.must,.tree-tab label.must{font-weight:700;color:#000;}
ul#key li.may,.tree-tab label.may{color:#090;}
ul#key li.not,.tree-tab label.not{color:#999;}
.businessActionGridRight legend{padding-bottom:1em;}
.businessActionGridRight fieldset{padding-top:0;margin-bottom:1em;}
.onePrefsBoxCol li{margin-bottom:1em;}
.prefsBox label,.businessActionLabelBlock{clear:both;}
.loginHelpLink{float:right;}
.floatLeft{float:left}
